html, body {
width:100%;
height:100%;

}
body {
margin: 0 auto;
}


#header {
background: transparent linear-gradient(to bottom, #7D0101 0px, #651110 100%) repeat scroll 0% 0%;
border-top: 1px solid #9E2121;
border-bottom: 1px solid #4A0404;
color:white;
text-align:center;
}
h1 a, a:active, a:visited, a:hover {
    text-decoration:none;
    color:white;
}


#menu {
width:100%;
height:2em;
background-color:#3D3527;
color:white;

}

#menu a{
display:block;
text-decoration:none;
height:100%;
color:white;
padding-left:.2em;
padding-right:.2em;
}


#menu ul{
text-align:center;
height:100%;
list-style-type: none;
margin:0;
padding:0;
text-decoration:none;
font-size:0;
}

#menu li{
font-size:16px;
display:inline-block;
line-height:2em;
height:2em;
margin:0;
border-right:1px solid;
border-color:black;
}

#menu li:last-child{
border-right:0px;

}

#menu li:hover{
background-color:#231E16;
}

#content {
/*margin: auto;
width:80%;*/
padding:1% 0% 1% 3%;
background-color:white;
}

#wrapper {
min-height:100%;
height:auto !important;
height:100%;
margin: 0 auto -2em;
}

#push {
height:2em;
}

div#footer {
margin:0 auto;
width:100%;
height:2em;
background-color:#3D3527;
color:white;
vertical-align:bottom;
line-height:2em;
text-align:center;
}

div#graphWrapper {
height:300px;
width:100%;
margin:auto;
}
div#graphInnerWrapper {
text-align:center;
width: 50%;
height: 300px;
float: left;
}
div#graph{
width:100%;
height:90%;
}
div#graphOptions{
    margin-left: 50%;
    height: 300px;
}


.selected {
background-color: SkyBlue;
}

table.detailsTable {
font-size:.8em;
margin-left:1%;
}

/*
span.supsub {
position:absolute;
}
span.supsub span.subscript {
display:block;
position:relative;
font-size:0.5em;  
top: 0.5em;
left: -0.5em;
}
span.supsub span.superscript {
display:block;
position:relative; 
font-size:0.5em;  
left: -0.5em;
}
*/

table {
overflow:auto;
border-spacing: 0;
}


td {
border: 1px solid #CCC;
}
th {
font-weight: bold;
border:1px solid #000000;
text-align: center;
}
/*#novaTable tr:nth-child(even) td{background:#F1F1F1;}*/
