span.supsub {
}
span.supsub span.subscript {
position:relative;  
top: 0.5em;
left: -0.5em;
}
span.supsub span.superscript {
position:relative; 
top: -0.5em;
}


table {
overflow:auto;
border-spacing: 0;
}


td {
border: 1px solid #CCC;
}
th {
font-weight: bold;
border:1px solid #000000;
text-align: center;
}
tr:nth-child(even) td {background:#F1F1F1;}
