html, body {
width:100%;
height:100%;

}
body {
margin: 0 auto;
}


#header {
background: transparent linear-gradient(to bottom, #7D0101 0px, #651110 100%) repeat scroll 0% 0%;
border-top: 1px solid #9E2121;
border-bottom: 1px solid #4A0404;
color:white;
text-align:center;
}
h1 a, a:active, a:visited a:hover {
    text-decoration:none;
    color:white;
}


#menu {
width:100%;
height:5%;
background-color:#3D3527;
color:white;

}

#content {
/*margin: auto;
width:80%;*/
padding:1% 0% 1% 3%;
background-color:white;
}

div#graphWrapper {
height:300px;
width:100%;
margin:auto;
}
div#graphInnerWrapper {
text-align:center;
width: 50%;
height: 300px;
float: left;
}
div#graph{
width:100%;
height:90%;
}
div#graphOptions{
    margin-left: 50%;
    height: 300px;
}


.selected {
background-color: SkyBlue;
}

table.detailsTable {
font-size:.8em;
margin-left:1%;
}

/*
span.supsub {
position:absolute;
}
span.supsub span.subscript {
display:block;
position:relative;
font-size:0.5em;  
top: 0.5em;
left: -0.5em;
}
span.supsub span.superscript {
display:block;
position:relative; 
font-size:0.5em;  
left: -0.5em;
}
*/

table {
overflow:auto;
border-spacing: 0;
}


td {
border: 1px solid #CCC;
}
th {
font-weight: bold;
border:1px solid #000000;
text-align: center;
}
/*#novaTable tr:nth-child(even) td{background:#F1F1F1;}*/
